rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regra padrão: NEGAR TUDO
    match /{document=**} {
      allow read, write: if false;
    }
    
    // Coleção de usuários: cada um só acessa o próprio documento
    match /users/{userId} {
      allow read: if request.auth != null 
                  && request.auth.uid == userId;
      allow write: if request.auth != null 
                   && request.auth.uid == userId;
    }
  }
}
